<p>lista-pacientes works!</p>
<div class="container mt-4">
  <h2>Pacientes</h2>
  <a routerLink="/pacientes/nuevo" class="btn btn-primary mb-3">+ Nuevo Paciente</a>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>No. Expediente</th>
        <th>Fecha Nacimiento</th>
        <th>Alergias</th>
        <th>Antecedentes</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let paciente of pacientes">
        <td>{{ paciente.id_paciente }}</td>
        <td>{{ paciente.numero_expediente }}</td>
        <td>{{ paciente.fecha_nacimiento | date:'dd/MM/yyyy' }}</td>
        <td>{{ paciente.alergias }}</td>
        <td>{{ paciente.antecedentes }}</td>
        <td>
          <a [routerLink]="['/pacientes/editar', paciente.id_paciente]" class="btn btn-warning btn-sm me-2">Editar</a>
          <button (click)="eliminar(paciente.id_paciente!)" class="btn btn-danger btn-sm">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>