<p>lista-usuarios works!</p>
<div class="container mt-4">
  <h2>Usuarios</h2>
  <a routerLink="/usuarios/nuevo" class="btn btn-primary mb-3">+ Nuevo Usuario</a>

  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Nombre Completo</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Tipo</th>
        <th>Estatus</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.id_usuario }}</td>
        <td>{{ usuario.nombre_completo }}</td>
        <td>{{ usuario.email }}</td>
        <td>{{ usuario.rol }}</td>
        <td>{{ usuario.tipo_usuario }}</td>
        <td>{{ usuario.estatus === 'A' ? 'Activo' : 'Inactivo' }}</td>
        <td>
          <a [routerLink]="['/usuarios/editar', usuario.id_usuario]" class="btn btn-warning btn-sm me-2">Editar</a>
          <button (click)="eliminar(usuario.id_usuario!)" class="btn btn-danger btn-sm">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>